In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("fatality.csv")
df.head()

,id,incident_date,day_of_week,city,state,description,plan,citation
0,1,2009-06-23,tuesday,tampa,florida,Victim was inside a building bundling material...,unknown,unknown
1,2,2009-06-30,tuesday,conroe,texas,Victim was on a scaffold doing repairs on an a...,unknown,unknown
2,3,2009-07-06,monday,miami,florida,"Victim was conducting roofing work, and fell t...",unknown,unknown
3,4,2009-07-09,thursday,north platte,nebraska,Victim was climbing a ladder while servicing a...,unknown,unknown
4,5,2009-07-11,saturday,greensburg,pennsylvania,Employees were throwing away old files. They h...,unknown,unknown

In [3]:
df["plan"].value_counts()

unknown    8886
federal    3680
state      2348
Name: plan, dtype: int64

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14914 entries, 0 to 14913
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             14914 non-null  int64
 1   incident_date  14914 non-null  object
 2   day_of_week    14914 non-null  object
 3   city           14914 non-null  object
 4   state          14914 non-null  object
 5   description    14914 non-null  object
 6   plan           14914 non-null  object
 7   citation       14914 non-null  object
dtypes: int64(1), object(7)
memory usage: 932.2+ KB

In [4]:
df["citation"].value_counts()

unknown    8886
yes        3345
no         2683
Name: citation, dtype: int64

In [5]:
df.duplicated().sum()

0

In [6]:
df.isnull().sum()

id               0
incident_date    0
day_of_week      0
city             0
state            0
description      0
plan             0
citation         0
dtype: int64

In [7]:
def data_cleaning(df):
    unwanted_columns = ['id']
    
    # Drop unwanted columns from the DataFrame
    cleaned_df = df.drop(columns=unwanted_columns)
    
    return cleaned_df

In [8]:
cleaned_df = data_cleaning(df)
cleaned_df.head()

,incident_date,day_of_week,city,state,description,plan,citation
0,2009-06-23,tuesday,tampa,florida,Victim was inside a building bundling material...,unknown,unknown
1,2009-06-30,tuesday,conroe,texas,Victim was on a scaffold doing repairs on an a...,unknown,unknown
2,2009-07-06,monday,miami,florida,"Victim was conducting roofing work, and fell t...",unknown,unknown
3,2009-07-09,thursday,north platte,nebraska,Victim was climbing a ladder while servicing a...,unknown,unknown
4,2009-07-11,saturday,greensburg,pennsylvania,Employees were throwing away old files. They h...,unknown,unknown

In [11]:
cleaned_df.to_csv("fatalities_cleaned.csv", index=False)